*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Red Hat Display", sans-serif;
    background-image: url("../images/pattern-background-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.25rem 0;
}

.container{
    width: 375px;
    border-radius: 30px;
    background-color: #ffffff;
}

.header__img{
    max-width: 100%;
    border-radius: 30px 30px 0 0;
}

.card{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__title{
    color: hsl(223, 47%, 23%);
    font-size: 1.5625rem;
    margin-bottom: 1.25rem;
}

.card__paragraph{
    text-align: center;
    color: hsl(224, 23%, 55%);
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

.card__plan{
    background-color: hsl(225, 100%, 98%);
    padding: 0.9375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
}

.card__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.card__description h4{
    font-size: 0.9375rem;
    color: hsl(223, 47%, 23%);
}

.card__description span{
    font-size: 0.9375rem;
    line-height: 2;
    color: hsl(224, 23%, 55%);
}

.card__plan a{
    font-size: 0.875rem;
    font-weight: 600;
    color: hsl(245, 75%, 52%);
    transition: .5s;
}

.card__plan a:hover{
    color: hsl(224, 23%, 55%);
    transition: .5s;
}

.card__btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.875rem;
    width: 100%;
}

.card__btn--proceed{
    background-color: hsl(245, 75%, 52%);
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 0.9375rem 0;
    font-weight: 600;
    font-size: 0.9375rem;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 1.5625rem;
    box-shadow: 0 10px 30px 10px #E2DFFC;
    transition: .5s;
}

.card__btn--proceed:hover{
    background-color: #766CF1;
    transition: .5s;
}

.card__btn--cancel{
    text-decoration: none;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    font-size: 1rem;
    transition: .5s;
}

.card__btn--cancel:hover{
    color: hsl(223, 47%, 23%);
    transition: .5s;
}